<div class="flex flex-col min-h-screen max-h-screen sm:w-2/3">
  <div class="overflow-y-auto">
    <ng-container *ngFor="let message of messages">
      <ais-chat-message [message]="message"></ais-chat-message>
    </ng-container>
  </div>

  <ng-container *ngIf="messages.length <= 0">
    <ais-examples></ais-examples>
  </ng-container>

  <div class="mt-auto mb-6 flex">
    <input
      id="main-input"
      type="text"
      class="bg-gray-700 border-gray-500 border-r-0 text-gray-50 text-lg font-sans p-3 rounded rounded-r-none drop-shadow outline-none flex-grow focus:outline-gray-600 disabled:bg-opacity-25"
      spellcheck="true"
      placeholder="Search for a product"
      multiple="true"
      [(ngModel)]="userInput"
      (keydown.enter)="!awaitingResponse && sendMessage()"
      [disabled]="awaitingResponse"
      autofocus
    />

    <button
      class="bg-gray-700 border-gray-500 border-l-0 p-2 px-4 rounded rounded-l-none text-gray-50 focus:outline-gray-600 hover:bg-gray-600 hover:cursor-pointer disabled:bg-opacity-25"
      [disabled]="awaitingResponse"
      (click)="!awaitingResponse && sendMessage()"
    >
      <fa-icon [icon]="['fas', 'magnifying-glass']"></fa-icon>
    </button>
  </div>
</div>
