* {
  scrollbar-color: rgb(55 65 81 / var(--tw-bg-opacity)) rgb(249 250 251 / var(--tw-text-opacity));
  scrollbar-width: thick;
}

#main-input {
  width: 100%;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: rgb(55 65 81 / var(--tw-bg-opacity));
}

::-webkit-scrollbar-thumb {
  background: rgb(249 250 251 / var(--tw-text-opacity));
  background: #888;
}
