<div
  [ngClass]="thinking ? 'bg-gray-600' : 'c-animated-background'"
  class="m-5 rounded p-2 shadow"
>
  <div class="flex flex-1 m-3">
    <fa-icon [icon]="['fas', 'user']"></fa-icon>

    <strong class="text-gray-50 ml-3">{{ message }}</strong>
  </div>

  <div class="flex">
    <div class="ml-auto m-3">

      <span class="text-gray-50 text-right mr-3">
        <span [innerHTML]="formattedResponse"></span>
      </span>
    </div>
  </div>

  <div class="flex m-3 text-gray-100">
    <span class="mr-2">Share:</span>
    <fa-icon class="mr-2" [icon]="['fab', 'twitter']"></fa-icon>
    <fa-icon class="mr-2" [icon]="['fab', 'facebook']"></fa-icon>
    <fa-icon class="mr-2" [icon]="['fab', 'reddit']"></fa-icon>
    <fa-icon class="mr-2" [icon]="['fab', 'tiktok']"></fa-icon>
    <fa-icon class="mr-2" [icon]="['fab', 'whatsapp']"></fa-icon>
    <fa-icon class="mr-2" [icon]="['fab', 'link']"></fa-icon>
  </div>
</div>
