<div
  [ngClass]="thinking ? 'bg-gray-600' : 'c-animated-background'"
  class="m-5 rounded p-2 shadow"
>
  <div class="flex flex-1 m-3">
    <fa-icon [icon]="['fas', 'user']"></fa-icon>

    <strong class="text-gray-50 ml-3">{{ message }}</strong>
  </div>

  <div class="flex">
    <div class="ml-auto m-3">

      <span class="text-gray-50 text-right mr-3">
        <span [innerHTML]="formattedResponse"></span>
      </span>
      <fa-icon [icon]="['fas', 'gears']"></fa-icon>
    </div>
  </div>
</div>
