<h1 class="text-3xl text-center mt-32 text-gray-950 dark:text-gray-50 font-bold">
  {{ brandName }}
</h1>

<div
  class="grid grid-cols-2 grid-rows-2 lg:grid-rows-2 text-center text-gray-50 mt-3 h-fit"
>
  <a
    href="?q=Items to build a drain in my driveway"
    class="col-1 row-1 bg-gray-700 p-4 m-3 rounded hover:bg-gray-600 hover:cursor-pointer"
    >"Items to build a drain in my driveway"</a
  >
  <a
    href="?q=What do I need to go camping in a colorado summer"
    class="col-2 row-1 bg-gray-700 p-4 m-3 rounded hover:bg-gray-600 hover:cursor-pointer"
    >"What do I need to go camping in a colorado summer"</a
  >
  <a
    href="?q=How to create a smart mirror with with a Raspberry Pi"
    class="col-1 row-2 bg-gray-700 p-4 m-3 rounded hover:bg-gray-600 hover:cursor-pointer"
    >"How to create a smart mirror with with a Raspberry Pi"</a
  >
  <a
    href="?q=Attachments for hobby Raspberry Pi projects"
    class="col-2 row-2 bg-gray-700 p-4 m-3 rounded hover:bg-gray-600 hover:cursor-pointer"
    >"Attachments for hobby Raspberry Pi projects"</a
  >
  <a
    href="?q=Creative birthday present ideas for a 10 year old's birthday"
    class="col-1 row-3 bg-gray-700 p-4 m-3 rounded hover:bg-gray-600 hover:cursor-pointer hidden xl:block"
    >"Creative birthday present ideas for a 10 year old's birthday"</a
  >
  <a
    href="?q=Activities to do in an Australian summer"
    class="col-2 row-3 bg-gray-700 p-4 m-3 rounded hover:bg-gray-600 hover:cursor-pointer hidden xl:block"
    >"Activities to do in an Australian summer"</a
  >
  <a
    href="?q=I have a water tank I need to attach to my garage, what tools will I need"
    class="col-1 row-4 bg-gray-700 p-4 m-3 rounded hover:bg-gray-600 hover:cursor-pointer hidden xl:block"
    >"I have a water tank I need to attach to my garage, what tools will I
    need"</a
  >
  <a
    href="?q=Party activities for this weekend"
    class="col-2 row-4 bg-gray-700 p-4 m-3 rounded hover:bg-gray-600 hover:cursor-pointer hidden xl:block"
    >"Party activities for this weekend"</a
  >
</div>

<p class="text-gray-50 text-center m-5">
  Online shop AI is designed to find products for you. You don't have to
  know what you want, just put in something you want to achieve and it'll tell
  you the steps and if you need to buy any items to achieve it.
</p>
