<select
  (change)="updateCountry()"
  [(ngModel)]="countryCode"
  class="bg-gray-300 dark:bg-gray-600 p-2 text-gray-950 dark:text-gray-50 border-2 border-gray-200 dark:border-gray-700"
>
  <option value=".com" selected>USA</option>
  <option value=".com.au">Australia</option>
  <option value=".com.br">Brazil</option>
  <option value=".ca">Canada</option>
  <option value=".cn">China</option>
  <option value=".fr">France</option>
  <option value=".de">Germany</option>
  <option value=".in">India</option>
  <option value=".it">Italy</option>
  <option value=".com.mx">Mexico</option>
  <option value=".nl">Netherlands</option>
  <option value=".sg">Singapore</option>
  <option value=".es">Spain</option>
  <option value=".com.tr">Turkey</option>
  <option value=".ae">United Arab Emirates</option>
  <option value=".co.uk">United Kingdom</option>
  <option value=".jp">Japan</option>
</select>
